body{
  background-color: #f0ecff;
}
.card-header img{
  width: 40px;
  height: 40px;
}
.card-body h6{
  color: rgb(139, 139, 139);
}
#success-alert{
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 15%;
}